<div>
    {{name}}

    {{!-- <button class="devourButton" data-id="{{id}}" data-devoured="{{devour}}">
        {{#if devour}}Devour It!{{else}}WAKE UP!{{/if}}</button>

    <button class="trashButton" data-id="{{this.id}}" data-devoured="{{changetoDevoured}}">Toss It!</button> --}}

</div>